* {
    margin: 0;
    border: 0;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
}

#canvas-main {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 22px 22px 63px #d3d3d3,
        -22px -22px 63px #ededed;
}